<%- include("partials/header"); %>
<h1>Home</h1>
<p><%= homeContent %></p>
<% for (i = 0; i < posts.length; i++) { %>
  <h2><%= posts[i].postTitle %></h2>
  <p><%= posts[i].postExcerpt %><a href="/posts/<%= posts[i].postTitle %>"> Read More</a></p>
<% } %>
<%- include("partials/footer"); %>
